<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="http://127.0.0.1:3000/login">Login in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:3000/update">Updata Member</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>