<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>碾米廠</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">
    <!-- <meta http-equiv="refresh" content="1"> -->

  	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/style.css" rel="stylesheet">
    <style>
      *{
        padding: 0 0;
        margin: 0 0;
      }
      html, body {
        padding: 0 0;
        margin: 0 0;
        width: 100%;
        height: 100%;
      }     
      div.container{ 
        margin: 0 0;
        padding: 0 0;
        position: relative;
      }
      .selector-for-some-widget {
        box-sizing: content-box;
      }
      #login_message{
        margin: 0 0;
        padding: 0 0;
        width: 150px;
      }
      .light{
        margin: 0 0;
        padding: 0 0;
        /* background-color:greenyellow; */
        width: 20px;
        height: 20px;
        border-radius:50px 50px ;
        border: black solid 0.5px;
        position: absolute;
        /* left: 235px;
        top: 180px; */
      }
      .UnderText{
        margin: 0 0;
        padding: 0 0;  
        width: 80px;
        height: 20px;
        position: absolute;
        font-family: '微軟正黑體';
      }
      img{
        width: auto;
        max-width: 100%;
        padding: 0 0;
        margin: 0 0;
      }
      #tb {
        display: none;
        position:absolute;
        padding: 0 0;
        margin: 0 0;
        font-size:medium;
        line-height:5px;
        width: auto; 
        text-align: center;
      }
  
    </style>
  </head>
  <body >